<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="demo.kolorob.kolorobdemoversion">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_SUPERUSER" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/kolorob_logo_first_page"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBN-XOOR5ERV-mk9Q5F5Mo9gJTXFQiXZro" />

        <activity
            android:name=".activity.SplashActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.OpeningActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light" />
        <activity
            android:name=".activity.NewEmergency"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light" />
        <activity
            android:name=".activity.PhoneRegActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light" />
        <activity
            android:name=".activity.EmergencyActivity"
            android:theme="@style/Theme.AppCompat.Light" />
        <activity
            android:name=".activity.SearchActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.Information_UpdateActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light" />
        <activity
            android:name=".activity.LocationInstructionActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Transparent" />
        <activity
            android:name=".activity.ButtonClickBaunia"
            android:label="@string/title_activity_button_click_baunia"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.PlaceChoiceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.PlaceDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.DetailsInfoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Transparent" />
        <activity
            android:name=".activity.DetailsInfoActivityHealth"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light" />
        <activity
            android:name=".activity.DetailsInfoActivityHealth_new"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Transparent" />
        <activity
            android:name=".activity.PlaceDetailsActivityNew"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.DetailsInfoActivityEntertainment_new"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Transparent" />
        <activity
            android:name=".activity.DetailsInfoActivityEntertainment"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light" />
        <activity
            android:name=".activity.DetailsJobActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Transparent" />
        <activity
            android:name=".activity.DetailsFinancialActivity_new"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Transparent" />
        <activity
            android:name=".activity.DetailsFinancialActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Transparent" />
        <activity
            android:name=".activity.PlaceChoiceActivity2"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.DetailsLegalActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light" />
        <activity
            android:name=".activity.DetailsLegalActivity_new"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Transparent" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".activity.FeedbackActivity"
            android:label="@string/title_activity_feedback"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.DisplayAllJobsActivity"
            android:theme="@style/Theme.Transparent" />
        <activity android:name=".activity.DetailsInfoActivityEducation" />
        <activity android:name=".activity.DetailsInfoActivityEntertainmentNew" />
        <activity android:name=".activity.DetailsInfoActivityHealthNew" />
        <activity android:name=".activity.DetailsInfoActivityFinancialNew" />
        <activity android:name=".activity.DetailsInfoActivityLegalNew" />
        <activity android:name=".activity.DetailsJobActivityNew" />
        <activity android:name=".activity.FeedBackActivityNew"></activity>
    </application>

</manifest>